name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron:  '0 0 * * *'

jobs:

  lint:
    strategy:
      fail-fast: false
      matrix:
        lint-command:
          - "bandit dynamic_filenames.py"
          - "black --check --diff ."
          - "flake8 ."
          - "isort --check-only --diff ."
          - "pydocstyle ."
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2.2.2
      - uses: actions/checkout@v2.3.5
      - uses: actions/cache@v2.1.6
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - run: python -m pip install -r requirements.txt
      - run: ${{ matrix.lint-command }}

  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2.2.2
      - uses: actions/checkout@v2.3.5
      - name: Install Python dependencies
        run: python -m pip install --upgrade pip setuptools wheel twine readme-renderer
      - run: python setup.py sdist bdist_wheel
      - run: python -m twine check dist/*
      - uses: actions/upload-artifact@v2
        with:
          path: dist/*

  pytest:
    runs-on: ubuntu-latest
    needs:
      - readme
      - lint
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
        django-version:
          - "2.2.0"
          - "3.1.0"
          - "3.2.0"

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2.2.2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/checkout@v2.3.5
    - name: Upgrade Python setuptools
      run: python -m pip install --upgrade pip setuptools wheel codecov
    - name: Install Django ${{ matrix.django-version }}
      run: python -m pip install "django~=${{ matrix.django-version }}"
    - run: python setup.py develop
    - name: Run tests
      run: python setup.py test
    - run: codecov

  extras:
    needs:
      - readme
      - lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        extras:
          - slugify

    steps:
      - uses: actions/setup-python@v2.2.2
      - uses: actions/checkout@v2.3.5
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel codecov
          python -m pip install -e .[${{ matrix.extras }}]
      - name: Run tests
        run: python setup.py test
      - run: codecov
